In [74]:
import pandas as pd
import psycopg2 as pg

In [75]:
con = pg.connect(host='localhost', dbname='Trab03', user='postgres', password='7355608')

In [76]:
# cpf = '5826544711'
# nome = 'Alexa Dantas'
# genero = 'Feminino'
# data_de_nascimento = '2006-10-09'

In [77]:
validade = '2025-01-03' 
dosagem = '500mg'
nome = 'Ritalina'
fabricante = 'Farmcorp' 
lote = 'M024'
id_receita = '6'

In [78]:
cursor = con.cursor()
con.commit()

In [79]:
# try:
#     cursor.execute('insert into usuario_sistema(cpf, nome, genero, data_de_nascimento) values(%s,%s,%s,%s)',
#         (cpf, nome, genero, data_de_nascimento))
#     con.commit()
#     print('Sucesso')
# except:
#     cursor.execute('Rollback')
#     print('Fail')

In [80]:
try:
    cursor.execute('insert into medicamentos (validade, dosagem, nome, fabricante, lote, id_receita) values(%s,%s,%s,%s,%s,%s)',
        (validade, dosagem, nome, fabricante, lote, id_receita))
    con.commit()
    print('Sucesso')
except:
    cursor.execute('Rollback')
    print('Fail')

Sucesso

In [81]:
import sqlalchemy
from sqlalchemy import create_engine

In [82]:
con2 = 'postgresql://postgres:7355608@localhost/Trab03'
sqlalchemy.create_engine(con2)

Engine(postgresql://postgres:***@localhost/Trab03)

In [83]:
# query= "select * from usuario_sistema"
# df = pd.read_sql_query(query,con2)

In [84]:
query= "select * from medicamentos"
df = pd.read_sql_query(query,con2)

In [85]:
df

,id_medicamento,validade,dosagem,nome,fabricante,lote,id_receita
0,1,2025-01-01,500mg,Paracetamol,Farmacorp,L001,1
1,2,2025-02-01,250mg,Ibuprofeno,Laboratório X,L002,2
2,3,2025-03-01,10mg,Amoxicilina,Medicamentos Y,L003,3
3,4,2025-04-01,20mg,Omeprazol,Farmacorp,L004,4
4,5,2025-05-01,100mg,Metformina,Saúde Z,L005,5
5,28,2025-01-03,500mg,Ritalina,Farmcorp,M024,6